---
import Layout from "@/layouts/Layout.astro";

import Shell from "@/components/ui/Shell.astro";

import Hero from "@/components/home/Hero.astro";
---

<Layout
  title="Porfolio de Edwin - Desarrollador y Programador Web"
  description="Soy Edwin, desarrollador web especializado en crear aplicaciones modernas y funcionales."
>
  <main class="px-4">
    <Shell class="py-16 md:py-36">
      <Hero />
    </Shell>
  </main>
</Layout>
