---
import Layout from "@/layouts/Layout.astro";

import Shell from "@/components/ui/Shell.astro";

import Hero from "@/components/home/Hero.astro";
import TitleSection from "@/components/home/TitleSection.astro";
import Experience from "@/components/home/Experience.astro";
import Projects from "@/components/home/Projects.astro";

import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
---

<Layout
  title="Porfolio de Edwin - Desarrollador y Programador Web"
  description="Soy Edwin, desarrollador web especializado en crear aplicaciones modernas y funcionales."
>
  <main class="px-4">
    <Shell class="py-16 md:py-36">
      <Hero />
    </Shell>

    <div class="space-y-24">

      <Shell id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" />
          Experiencia laboral
        </TitleSection>
        <Experience />
      </Shell>

      <Shell id="proyectos">
        <TitleSection>
          <CodeIcon class="size-8" />
          Proyectos
        </TitleSection>
        <Projects />
      </Shell>

      <!-- <Shell id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </Shell> -->
    </div>
  </main>
</Layout>
