---
---

<header class="flex justify-center items-center py-3">

  <nav class="flex flex-row gap-x-10">
    <a href="#inicio">Inicio</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
